<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553524758441-n91dnnbesl5u74dhihj8ik9t8nflfvd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553524758441-n91dnnbesl5u74dhihj8ik9t8nflfvd2</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQLGu3Zwl68fS2uiufh2rpA7wT8CfYWI</string>
	<key>GCM_SENDER_ID</key>
	<string>553524758441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sreshtgeeth.app</string>
	<key>PROJECT_ID</key>
	<string>rejoice-8157a</string>
	<key>STORAGE_BUCKET</key>
	<string>rejoice-8157a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553524758441:ios:a31e5adf26d75002d3e6b8</string>
</dict>
</plist>